@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@import url(http://allfont.net/allfont.css?fonts=montserrat-light);

* {
  font-family: 'League Spartan', sans-serif;
}

.intro-header {
  text-align: center;
  background: url(../assets/masthead-bg.jpg) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  height: 549px;
}

.intro-header img {
  position: absolute;
  top: 20px;
  left: 80px;

}


.headerlorum {
  margin-top:470px;
  margin-right: 45px;
  font-size: 5em;
  color: #FDFFE3;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);

}

.navbar .navbar-toggle .icon-bar {
  background-color: black;
}

.collapse ul li a {
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.demo-body {
  background: #FDFFE3;
  padding: 80px 0px 80px 0px;

}

.demo-body h4 {
  color: #C6491A;
  font-family: 'Montserrat', sans-serif;
}

.demo-body p {
  line-height: 200%;
  font-family: 'Montserrat', sans-serif;
}

.demo-body p a {
  color: #C6491A;
}

.demo-body img {
  height: 75%;
}
.box {
  background-color: #8E4423;
  border-radius: 5px;
  font-size: 2em;
  color: #E6E3BB;
  text-align: center;
  padding: 30px 0px 30px 0px;
}


.contact-section {
  background-color: #242729;
  color: white;
  padding: 30px 0px 30px 0px;
}

.contact-section h2 {
  letter-spacing: 7px;
}

.contact-section form input {
  margin-top: 15px;
}
.contact-section form textarea {
  margin-top: 10px;
}

.btn-black {
  background-color: #242729;
  color:white;
  border-color: white;
  width: 125px;
}

.news-section {
  background: #FDFFE3;
  padding: 50px 0px 60px 0px;
  /*height: 100%;*/

}

.news-section h2 {
  letter-spacing: 7px;
  color: #242729;
  padding-top: 20px;
  padding-bottom: 25px;
}

.news-section p {
  margin-top: 15px;
  color: #C6491A;
  font-family: 'Montserrat Light', arial;
}

.news-section a {
  color: #242729;
}

.blogs {
  margin-bottom: 25px;
}

.footersection {
  padding-top: 20px;
  background-color:#8E4423;
  height: 50px;
  color:white;

}

.footersection a {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.footersection p {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}
/*li+li {
   border-left: 1px solid #FFFFFF
 }*/
/*.footersection ul {
  margin-left: 50px;
}*/
@media(max-width:767px) {
    .intro-header {
      height: 400px;
    }
    .intro-header img {
        position: absolute;
        left: 60px;
        top: 130px;
    }

}


@media(max-width: 415px) {
  .headerlorum {
    margin-top:50%;
    margin-right:20%;
    padding: auto;
  }
}
